<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            font-family: Tahoma;
            font-size: 12 px;
        }
    </style>
</head>

<body>
    <h1 style="text-align: center;"><b>ChromeOS 多個漏洞</b></h1>
    <p><b>概述：</b></p>
    <div style="margin-left:2em;">
        <p>ChromeOS 發現了多個漏洞。遠程攻擊者可以利用其中一些漏洞在目標系統上觸發拒絕服務條件和遠程代碼執行。</p>
        <p> </p>
        <p><strong>備註：</strong></p>
        <p>CVE-2024-5274 正在野外利用。此漏洞是由於 V8 JavaScript 引擎中的類型混淆錯誤引起的，攻擊者可以通過精心製作的 HTML 頁面在沙盒內執行任意代碼。</p>
    </div>
    <p><b>影響：</b></p>
    <ul>
        <li>遠程代碼執行</li>
        <li>拒絕服務</li>
    </ul>
    <p><b>受影響系統：</b></p>
    <ul>
        <li>版本在 120.0.6099.314 之前（平台版本：15662.111）</li>
    </ul>
    <p><b>CVEs：</b></p>
    <ul>
        <li><a href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2024-5158" rel="noopener"
                target="_blank">CVE-2024-5158</a></li>
        <li><a href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2024-5274" rel="noopener"
                target="_blank">CVE-2024-5274</a></li>
        <li><a href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2024-5499" rel="noopener"
                target="_blank">CVE-2024-5499</a></li>
    </ul>
    <p><b>建議：</b></p>
    <p>請應用供應商針對受影響產品發布的修補程序：</p>
    <p><strong>在安裝軟件之前，請訪問供應商網站以獲取更多詳細信息。</strong></p>
    <p> </p>
    <p>應用供應商發布的修補程序。詳細信息請參閱以下鏈接：</p>
    <ul>
        <li><a href="https://chromereleases.googleblog.com/2024/06/long-term-support-channel-update-for_10.html"
                rel="noopener"
                target="_blank">https://chromereleases.googleblog.com/2024/06/long-term-support-channel-update-for_10.html</a>
        </li>
        <li><a href="https://chromereleases.googleblog.com/2024/06/long-term-support-channel-update-for.html"
                rel="noopener"
                target="_blank">https://chromereleases.googleblog.com/2024/06/long-term-support-channel-update-for.html</a>
        </li>
    </ul>
    <p><b>參考資料：</b></p>
    <ul>
        <li><a href="https://chromereleases.googleblog.com/" rel="noopener" target="_blank">Chrome</a></li>
    </ul>
    <p><b>相關鏈接：</b></p>
    <ul>
        <li><a href="https://chromereleases.googleblog.com/2024/06/long-term-support-channel-update-for_10.html"
                rel="noopener"
                target="_blank">https://chromereleases.googleblog.com/2024/06/long-term-support-channel-update-for_10.html</a></li>
        <li><a href="https://chromereleases.googleblog.com/2024/06/long-term-support-channel-update-for.html"
                rel="noopener"
                target="_blank">https://chromereleases.googleblog.com/2024/06/long-term-support-channel-update-for.html</a>
        </li>
    </ul>
    </div>
</body>

</html>