<!DOCTYPE html>
<html>

<head>
	<style>
		body {
			font-family: Tahoma;
			font-size: 12 px;
		}

		table,
		th,
		td {
			margin-bottom: 1em;
			border: 1px solid black;
			overflow-x: auto;
		}

		div.indent {
			margin-left: 2em;
		}
	</style>
</head>

<body>
	<h1 style="text-align: center;"><b>
		多个格式字符串漏洞</b></h1>
	<p><b>概述:</b></p>
	<div style="margin-left:2em;">通过FortiOS、FortiProxy、FortiPAM、FortiSRA 及 FortiWeb 中的使用外部控制格式字串漏洞 [CWE-134] 可能允许有权限的攻击者透过特制的 HTTP 或 HTTPS 指令执行未经授权的程式码或指令。</div>
	<div>
		<p><b>影响:</b></p>
		<ul>
			<li>执行未经授权的代码或命令</li>
		</ul>
		<p><b>受影响的系统:</b></p>
		<table class="table table-borderless table-striped table-dark">
			<!--升级 至 x.x.x 或以上-->
			<!--迁移到已修复的版本-->
			<thead>
				<tr>
					<th>版本</th>
					<th>受影响的系统</th>
					<th>解决方案</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>FortiOS 7.4</td>
					<td>7.4.0 至 7.4.4</td>
					<td>升级 至 7.4.5 或以上 </td>
				</tr>
				<tr>
					<td>FortiOS 7.2</td>
					<td>7.2.0 至 7.2.9</td>
					<td>升级 至 7.2.10 或以上 </td>
				</tr>
				<tr>
					<td>FortiOS 7.0</td>
					<td>7.0.0 至 7.0.15</td>
					<td>升级 至 7.0.16 或以上 </td>
				</tr>
				<tr>
					<td>FortiOS 6.4</td>
					<td>6.4.0 至 6.4.15</td>
					<td>升级 至 6.4.16 或以上</td>
				</tr>
				<tr>
					<td>FortiOS 6.2</td>
					<td>6.2 所有版本</td>
					<td>迁移到已修复的版本</td>
				</tr>
				<tr>
					<td>FortiPAM 1.4</td>
					<td>1.4.0 至 1.4.2</td>
					<td>升级 至 1.4.3 或以上</td>
				</tr>
				<tr>
					<td>FortiPAM 1.3</td>
					<td>1.3.0 至 1.3.1</td>
					<td>升级 至 6.4.16 或以上</td>
				</tr>
				<tr>
					<td>FortiPAM 1.2</td>
					<td>1.2 所有版本</td>
					<td>迁移到已修复的版本</td>
				</tr>
				<tr>
					<td>FortiPAM 1.1</td>
					<td>1.1 所有版本</td>
					<td>迁移到已修复的版本</td>
				</tr>
				<tr>
					<td>FortiPAM 1.0</td>
					<td>1.0 所有版本</td>
					<td>迁移到已修复的版本</td>
				</tr>
				<tr>
					<td>FortiProxy 7.6</td>
					<td>7.6.0</td>
					<td>升级 至 7.6.1 或以上</td>
				</tr>
				<tr>
					<td>FortiProxy 7.4</td>
					<td>7.4.0 至 7.4.6</td>
					<td>升级 至 7.4.7 或以上 </td>
				</tr>
				<tr>
					<td>FortiProxy 7.2</td>
					<td>7.2.0 至 7.2.12</td>
					<td>升级 至 7.2.13 或以上 </td>
				</tr>
				<tr>
					<td>FortiProxy 7.0</td>
					<td>7.0.0 至 7.0.19</td>
					<td>升级 至 7.0.20 或以上 </td>
				</tr>
				<tr>
					<td>FortiSRA 1.4</td>
					<td>1.4.0 至 1.4.2</td>
					<td>升级 至 1.4.3 或以上 </td>
				</tr>
				<tr>
					<td>FortiWeb 7.6</td>
					<td>7.6.0</td>
					<td>升级 至 7.6.1 或以上</td>
				</tr>
				<tr>
					<td>FortiWeb 7.4</td>
					<td>7.4.0 至 7.4.5</td>
					<td>升级 至 7.4.6 或以上 </td>
				</tr>
				<tr>
					<td>FortiWeb 7.2</td>
					<td>7.2.0 至 7.2.10</td>
					<td>升级 至 7.2.11 或以上 </td>
				</tr>
				<tr>
					<td>FortiWeb 7.0</td>
					<td>7.0.0 至 7.0.10</td>
					<td>升级 至 7.0.11 或以上 </td>
				</tr>
			</tbody>
		</table>
		<p><b>CVEs:</b></p>
		<ul>
			<li>
				CVE-2024-45324
			</li>
		</ul>
		<p><b>建议:</b></p>
		<p><b>请应用供应商发布的修复程序：</b></p>
		<p>
			按照推荐的升级路径进行操作：: https://docs.fortinet.com/upgrade-tool</p>
		<p><b>参考资料:</b></p>
		<ul>
			<li>https://www.fortiguard.com/psirt/FG-IR-24-325</li>
		</ul>
		<ul>
			<li>https://www.cve.org/CVERecord?id=CVE-2024-45324</li>
		</ul>
	</div>
</body>

</html>